<header id="nav">
    <nav class="nav-container layout">
        <!-- <a href="https://www.flaticon.com/free-icons/sushi" title="sushi icons">Sushi icons created by Freepik - Flaticon</a>-->
        <a href="#nav"><img src="../static/assets/nigiri.png" height="50" width="70"></img></a>
        <ul class="layout navigation-list">
            <li><a href="#nav">Home</a></li>
            <li><a href="#menu-display">Menu</a></li>
            <li><a>Singup/Login</a></li>
            <li><a>Cart</a></li>
        </ul>
    </nav>
</header>