<!-- Only the design and style of the chatbox is directly copied from https://github.com/hitchcliff/front-end-chatjs -->
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="./static/assets/gordon-ramsey.jpeg" width="55" height="50" style="border-radius:50%" alt="avatar">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Order Live</h4>
                    <p class="chatbox__description--header">Gordon Ramsey is waiting for your order!</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div id="chat_display">
                </div>
            </div>
            <div class="chatbox__footer">
                <input type="text" id="userInput" placeholder="Write a message...">
                <p id="chatbot-button" class="chatbox__send--footer" >Send</p>
            </div>
        </div>
        <div class="chatbox__button">
            <button>button</button>
        </div>
    </div>
</div>
<!-- End of the copy -->

<script type="text/javascript" src="./static/scripts/chat-bot.js" defer></script>