{% extends "layout.html" %}
{% block content %}
<section class="hero">
    <div class="container layout"> 
        <div>
            <h1>Welcome to Kamato</h1>
            <p>Where the delicious foods are made out of suhi</p>
            <a href="#" onclick="orderNow()" class="order-button"> Order Now</a>
        </div>
        <div class="hero-figure">
            <img src="./static/assets/family-dinner.jpg" width="400" height="400" />
        </div>
    </div>
</section>
{% include "menu.html" %}
{% include "chat.html" %}
{% endblock %}