<section class="container menu">
    <div class="layout title">
        <h1>Kamato Sushi Restaurant (Howe St)</h1>
        <h1>Take-out Only</h1>
    </div>
    <div class="layout">
        <aside>
            <div>
                <h3><a href="#Appetizers">Appetizers</a></h3>
                <h3><a href="#Main Dish">Main Dish</a></h3>
                <h3><a href="#Desserts">Desserts</a></h3>
                <h3><a href="#Drinks">Drinks</a></h3>
            </div>
        </aside>
        <div>
            <div id="menu-display" >
                
            </div>
        </div>
    </div>
    
</section>